    {{> head}}
    {{> navbar}}
   
   <div class="row">
       <div class="col-8">
           <h1>Imagen</h1>
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci incidunt rem aut, similique hic animi molestiae eveniet odio, numquam quae itaque laudantium? Reprehenderit expedita obcaecati voluptatibus quis dolores? Perspiciatis, suscipit.
           </p>
       </div>

       <div class="col-4">
           <img src="assets/img/avatar.png" class="img-thumbnail">
       </div>
   </div>
    {{> footer}}
